#timer {
	position: relative;
	display: inline-block;
}

button {
	border: none;
	cursor: pointer;
	font-size: 36px;
	background-color: transparent;
}

#controller {
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#duration {
	font-size: 60px;
	width: 280px;
	text-align: center;
	margin-bottom: 20px;
	border: none;
	display: block;
}

#lap {
	margin-top: 20px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
